.password-body{
    display: flex;
    /* flex-direction: row; */
    background-color: var(--color-white);
    width: 100%;
}
.password-body-container{
    width: 75%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:5% 3rem;
}

.password-body-container-text{
    margin-bottom:4rem;
}
.password-body-container-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* border: 1px solid red; */
    color: var(--color-tertiary);
    margin-top: 1.5rem;
}
.password-body-container-input p{
    color: var(--color-tertiary);
}
.password-body-container-input input{
    border: 1px solid var( --color-tertiary-tint1);
    height: 3rem;
    border-radius:10px;
    padding: .5rem 1rem ;
}
/* MOBILE PORTRAIT */

@media (max-width: 28.125em){
    .mobile-bottom-nav{
      display: flex;
    }
      .password-body{
          display: none;
      }
      .password-mobile-body{
          display: block;
          height: 100vh;
          /* width: 100%; */
          /* border: 1px solid yellow; */
          
      }
      .password-mobile-head{
          display: flex;
          position: relative;
          align-items: center ;
          margin-top: 1rem;
  
        }
        .password-mobile-head .bx{
          color: var(--color-primary-tint1);
        }
        .password-mobile-head h4{
          position: absolute;
          right: 8rem;
        }
        .password-mobile-form{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          /* border: 1px solid red; */
          padding: .5rem;
          margin-top: 3rem;
        }
        .password-mobile-form-input{
          display: flex;
          flex-direction:column ;
          row-gap: .5rem;
          width: 100%;
        }
        .password-mobile-form-input input{
          height: 2.5rem;
          padding: .5rem;
          border: 1px solid var(--color-tertiary-shade3);
          border-radius:10px ;
          margin-bottom: .8rem;
        }
        .password-mobile-form-input-check-box{
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: .8rem;
        }
        .password-mobile-btn{
          width: 90%;
          height: 3rem;
          border-radius: 5px;
          margin: auto;
          border: none;
          background-color: var(--color-primary-shade2);
          font-size: 1.2rem;
          font-weight: 600;
          color: var(--color-white);
          margin-top: 1rem;
        }
  }