*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    box-sizing: border-box;
    height: 12vh;
    padding:1% 3%;
    height: 10vh;
    padding:1% 2%;
    display: flex;
    justify-content: space-between;
    background-color: var(--whiteTextColor);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    text-decoration: none;
}
.logo{
    width: 6.5rem;
    height: 6.5rem;
}
.header-right{
    display: flex;
    width: 45%;
    justify-content: space-between;
}
.header-links{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.links{
    background-color:#0FA958;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links-text{
    color: #333333;
    font-size: .65rem;
    font-weight: 600;
    margin-top: 10%;
}
.links-img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.link-icon{
    width: 45%;
    height: 40%;
}