*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nexa", sans-serif;
}
:root {
    --primaryColor: #397846;
    --hoverSecondaryColor: #e4990c;
    --secondaryColor: #FFA400;
    --lightPrimaryColor: #EAFFE0;
    --lightSecondaryColor: #f4a679;
    --hoverPrimaryColor:#0b341ec2;
    --hoverScondaryColor: #e0672088;
    --greenTextColor:#0B3720;
    --GreyTextColor: gray;
    --whiteTextColor:white;
    --color-primary: #397846;
  --color-primary-shade1: #428747;
  --color-primary-shade2: #479453;
  --color-primary-shade3: #56a459;
  --color-primary-tint1: #57b55e;
  --color-primary-tint2: #68bf72;
  --color-primary-tint3: #79c479;

  --color-white: #ffffff;

  --color-secondary: #ffa400;
  --color-secondary-shade1: #ffb121;
  --color-secondary-shade2: #ffb833;
  --color-secondary-shade3: #ffc14f;
  --color-secondary-tint1: #ffcb69;
  --color-secondary-tint2: #ffd382;
  --color-secondary-tint3: #ffdd9e;

  --color-tertiary: #000000;
  --color-tertiary-shade1: #545454;
  --color-tertiary-shade2: #707070;
  --color-tertiary-shade3: #8c8c8c;
  --color-tertiary-tint1: #a3a3a3;
  --color-tertiary-tint2: #bdbdbd;
  --color-tertiary-tint3: #d4d4d4;

  --color-danger-variant: rgb(254, 35, 7);
  --container-width-lg: 80%;
  --container-width-md: 70%;
  --container-width-sm: 64%;

  --transition: all 400ms ease;




  }
  .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}