.mobile-search-type{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: var(--color-primary-shade2);
    margin: 0rem 1rem;
}
.mobile-search-type .bx{
    color: var(--color-primary-shade2);
}
.mobile-search-type div{
    padding: .2rem;
    display: flex;
    
    justify-content: flex-end;
    align-items:center;
    flex-direction: column;
    height: 4rem;
    border-radius: 10px;
    border: 1px solid var(--color-primary-shade1);
    text-align:last baseline;
}
@media (max-width: 40.25em){
    .mobile-store-search{
        width: 25%;
    }
    .mobile-logistics-search{
        width: 40%;

    }
    .mobile-farm-product-search{
        width: 25%;
    }
}