* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.options {
  /* position: relative; */
  display: flex;
  /* flex-direction: column; */
  height: 90vh;
  max-width: 35rem;
  border: 1px solid red;
  padding: 3.5rem;
  justify-content: center;
  background-color: #397846;
}
.options-select {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  height: 55%;
  width: 92%;
  /* border: 1px solid red; */
}
.options-select div {
  height: 3.5rem;
  width: 100%;
  border: 1px solid red;
  border-radius: 3px;
}
