.farm-product-list-body{
    background-color: var(--color-white);
    height: 90vh;
}
.farm-product-list-search-bar {
    width: 100%;
    /* border: 1px solid red; */
    height: 4rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .farm-product-list-search-bar .bx{
    font-size: 1rem;
  }
  .farm-product-list-search-bar-filter {
    height: 3rem;
    width: 12%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--color-tertiary-shade3);
  }
  .farm-product-list-search-bar-filter2 {
    height: 3rem;
    width: 16%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--color-tertiary-shade3);
  }
  .farm-product-list-search-bar-input {
    height: 3rem;
    width: 40%;
    border: 1px solid var(--color-tertiary-shade3);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    font-weight: 600;
  }
  .farm-product-list-search-bar-input-field {
    font-weight: 500;
    font-size: 1rem;
    width: 70%;
    height: 2rem;
    border: none;
  }
  .farm-product-list-search-bar-input-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-shade3);
    height: 3rem;
    border-radius: 12px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 1rem;
    width: 25%;
  }
  .farm-product-list-container{
    height: 80vh;
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 2rem;
    
  }
  .farm-product-list-container-box {
    /* margin-top: 1rem; */
    height: 17rem;
    width: 12rem;
    border-radius: 10px;
    padding: 1rem 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .farm-product-list-container-box-img {
    height: 8rem;
    width: 100%;
    /* border: 1px solid red; */
  }
  .farm-product-list-container-box h5 {
    margin-top: 0.5rem;
  }
  .farm-product-list-container-box-price{
    display: flex;
    align-items: center;
  }
  .farm-product-list-container-box-price span{
    color: var(--color-primary-shade2);
  }
  .farm-product-list-container-box-price p{
    font-size: 10px;
    font-weight: 600;
    margin-left: 0.2rem;
  }
  .farm-product-list-container-box-btn {
    width: 96%;
    height: 2rem;
    background-color: rgb(30, 160, 30);
    color: white;
    display: flex;
    align-items: center;
    justify-content: last baseline;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: 600;
    margin: 0.2rem auto;
  }
  .farm-product-list-container-box-btn .bx {
    font-size: 1.3rem;
    font-weight: 500;
  }
  /* TABLET PORTRAIT2 */
  @media (max-width:40.25em){
    .farm-product-list-body{
      display: none;
    }
    .footer{
      display:none;
    }
    .header{
      display: none;
    }
    .mobile-view{
      display: block;
    }
    .farm-product-list-mobile-body{
      background-color: var(--color-white);
  }
  .Logo{
      /* border: 1px solid red; */
      margin: auto;
      height: 7rem;
      width: 7rem;
  }
  .mobile-search-bar{
      display: flex;
      align-items: center;
      height: 3rem;
      border: 1px solid var(--color-primary-shade1);
      border-radius: 10px;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
  }
  .mobile-search-bar-filter{
      display: flex;
      align-items: center;
      width: 8rem;
      height: 100%;
      border-radius:10px ;
      background-color: var(--color-primary-tint3);
      padding: .5rem;
  }
 
  .mobile-search-bar-input-field{
      padding-left: .3rem;
      font-size: 1rem;
      height: 2rem;
      width: 70%;
      border: none;
      color: var(--color-tertiary-shade2);
      margin-right: 1rem;
  }
  .farm-product-list-mobile-container{
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      /* border: 1px solid red; */
      height: 60vh;
      overflow-y: auto;
      margin-top: 1rem;
      flex-wrap: wrap;
      gap: 1rem;
  }
  .farm-product-list-mobile-container-box {
      /* margin-top: 1rem; */
      height: 15rem;
      width: 10rem;
      border-radius: 10px;
      padding: 1rem 1rem;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .farm-product-list-mobile-container-box-img {
      height: 6rem;
      width: 100%;
      border: 1px solid red;
    }
    .farm-product-list-mobile-container-box h5 {
      margin-top: 0.5rem;
    }
    .farm-product-list-mobile-container-box-price{
      display: flex;
      align-items: center;
    }
    .farm-product-list-mobile-container-box-price span{
      color: var(--color-primary-shade2);
    }
    .farm-product-list-mobile-container-box-price p{
      font-size: 10px;
      font-weight: 600;
      margin-left: 0.2rem;
    }
    .farm-product-list-mobile-container-box-btn {
      width: 100%;
      height: 2rem;
      text-align: center;
      background-color: rgb(30, 160, 30);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      border-radius: 8px;
      font-weight: 600;
      margin: 0.2rem auto;
      font-size: 13px;
    }
    .farm-product-list-mobile-container-box-btn .bx {
      font-size: 1.3rem;
      font-weight: 500;
      color: var(--color-white);
    }
  .rating2{
      width: 5rem;
      height: 1rem;
  }
  }
  @media (max-width: 28.125em){
    .farm-product-list-body{
        display: none;

    }
    .farm-product-list-mobile-body{
        background-color: var(--color-white);
    }
    .Logo{
        /* border: 1px solid red; */
        margin: auto;
        height: 7rem;
        width: 7rem;
    }
    .mobile-search-bar{
        display: flex;
        align-items: center;
        height: 3rem;
        border: 1px solid var(--color-primary-shade1);
        border-radius: 10px;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .mobile-search-bar-filter{
        display: flex;
        align-items: center;
        width: 8rem;
        height: 100%;
        border-radius:10px ;
        background-color: var(--color-primary-tint3);
        padding: .5rem;
    }
   
    .mobile-search-bar-input-field{
        padding-left: .3rem;
        font-size: 1rem;
        height: 2rem;
        width: 50%;
        border: none;
        color: var(--color-tertiary-shade2);
    }
    .farm-product-list-mobile-container{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        /* border: 1px solid red; */
        height: 60vh;
        overflow-y: auto;
        margin-top: 1rem;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .farm-product-list-mobile-container-box {
        /* margin-top: 1rem; */
        height: 15rem;
        width: 10rem;
        border-radius: 10px;
        padding: 1rem 1rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      .farm-product-list-mobile-container-box-img {
        height: 6rem;
        width: 100%;
        border: 1px solid red;
      }
      .farm-product-list-mobile-container-box h5 {
        margin-top: 0.5rem;
      }
      .farm-product-list-mobile-container-box-price{
        display: flex;
        align-items: center;
      }
      .farm-product-list-mobile-container-box-price span{
        color: var(--color-primary-shade2);
      }
      .farm-product-list-mobile-container-box-price p{
        font-size: 10px;
        font-weight: 600;
        margin-left: 0.2rem;
      }
      .farm-product-list-mobile-container-box-btn {
        width: 100%;
        height: 2rem;
        text-align: center;
        background-color: rgb(30, 160, 30);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border-radius: 8px;
        font-weight: 600;
        margin: 0.2rem auto;
        font-size: 13px;
      }
      .farm-product-list-mobile-container-box-btn .bx {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--color-white);
      }
    .rating2{
        width: 5rem;
        height: 1rem;
    }
   .footer{
    display: none;
   }
  }
  
